

<!--<button ui-sref="signin">Click Here to Login</button>
<button ui-sref="signup">Click Here to Sign up </button>-->



    <!-- Use a container to wrap the slider, the purpose is to enable slider to always fit width of the wrapper while window resize -->
    <div class="container">

    <div class="container marketing">
        
  <hr class="featurette-divider">

      <div class="slider">
<figure>
<img src="../img/home/kids6.jpg" alt="" height="450px">
<img src="../img/home/kids1.jpg" alt="" height="450px">
<img src="../img/home/kids7.jpg" alt="" height="450px">
<img src="../img/home/kids3.jpg" alt="" height="450px">
<img src="../img/home/kids5.jpg" alt="" height="450px">
</figure>
</div>

<hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Mean Stack App</h2>
                <p style="font-family: 'Raleway', sans-serif; margin: 109px 0 10px;">This App is Design using <b>MEAN STACK</b> . The Technology which Developer is used are <b>NODEJS</b> <b>MongoDB Body-Parser Mongoose Boot-Strap AngularJs Angular Material Design </b>.
                <a href="https://github.com/Ghayyas/MeanQuizApp" target="_blank">Check out Source Code on GitHub</a>.</p>
            </div>
            <div class="col-md-5">
                <img src="../img/home/meanStack1.jpg"" class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
            </div>
        </div>

        <!--<hr class="featurette-divider">


        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
        <!--<footer>

            <p>&copy; Ramsha Enterprises {{myDate | date: 'yyyy'}}. &middot; </p>
        </footer>

    </div>-->
   
   
   
