
 <div layout="column" layout-align="center center" style="position: relative; margin-top: 62px;">
 <md-whiteframe class="md-whiteframe-3dp" flex-sm="45" flex-gt-sm="35" flex-gt-md="25" layout layout-align="center center">
  <md-toolbar>
      <div class="md-toolbar-tools">
        
         <span>Sign IN</span>

        <span flex></span>
                <md-button class="material-icons md-36 md-fab" ui-sref="signup">person_add</md-button>
      </div>
          <form ng-submit="login()"> 
     <md-content layout="column" layout-padding>

      <md-input-container>
        <label>User Name</label>
        <input type="text" ng-model="user2.userName">
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="user2.userPass">
      </md-input-container>

  </md-content>
  <div layout="row" layout-align="center center">
        <md-button type="submit" class="md-primary"> Login
        </md-button>
  </div>
        </form>
    </md-toolbar>

  </md-whiteframe>
     
  
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>  
<br/>
<br/>   
   <div class="clearfix"></div>
