    <div class="container">
     <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h3 class="featurette-heading">About Me</h3>
                <p style="font-family: 'Raleway', sans-serif;">My Self Ghayyas Mubashir
                    CEO of <i> <a href="http://www.teamclouders.com" target="_blank">Team Clouders </a></i>.
                     
                     <b>Technology Which I used are: </b>
                     <md-list>
                         <md-list-item>
                             Node Js
                         </md-list-item>
                                                  <md-list-item>
                             MongoDB
                         </md-list-item>
                           <md-list-item>
                             Angular js
                         </md-list-item>
                                                    <md-list-item>
                             Angular Material Design
                         </md-list-item>
                                                    <md-list-item>
                             Boot strap
                         </md-list-item>
                         </md-list>
                         Currently Im Doing Bs in Software Engeering From the <b> <a href="http://vu.edu.pk/" target="_blank"> Virtual University</a></b>. I have done My  Internship From <b><a href="http://www.edequal.com/" target="_blank">EDEQUAL </a></b> Doing From Projects on <b><a href="https://www.upwork.com/o/profiles/users/_~0188c76967ba39a6f1/" target="_blank">Up Work</a> and <a href="https://www.fiverr.com/ghayyasmubashir" target="_blank">Fiverr</a></b> as Freelancer. 
                         Iam Full Stack Developer. Recently I have Done Course of  <a href="http://mean.io" target="_blank">Mean Stack</a> From <b> <a href="http://saylaniwelfare.com/" target="_blank">Saylani Welfare International</a> </b>
                         Under the Supervision of Sir <b><a href="https://www.facebook.com/ziakhan" target="_blank"> Zia Khan </a></b> <i> "Microsoft Most Valuable Professional" </i> 
                         and also Done Internship with him at his office <b> <a href="http://www.panacloud.com/" target="_blank">Pana Cloud</a></b>.
                </p>
            </div>
            <div class="col-md-5">
                <img src="../img/home/ghayyas.jpg"" class="featurette-image img-responsive" data-src="holder.js/240x360/auto" alt="Generic placeholder image">
            </div>
        </div>
        
    </div>
