<!--<div ng-show="!isLogin" layout="column" layout-align="center center" style="position: relative; margin-top: 62px;">



    <p> You are Required to Login First</p>  

             

</div>

<div ng-show="isLogin" layout="column" layout-align="center center" style="position: relative; margin-top: 62px;">


   <h4>My Profile Page...</h4>
<br/>

<!--
<md-card>
<table class="table table-bordered">
            <md-card-title>
                 
            </md-card-title>

  <tr>
      <td>{{dData.userName}}</td>
  <td>{{dData.userEmail}}</td>
  </tr> 
  
</table>
      </md-card>-->
      


 <!--Name : {{dData.userName}}
 </br>
 Email :{{dData.userEmail}}
 -->
 <!--
 <br/>
 
 <button ng-click="showMyResult()">Show my Result</button>
 
 <br/>
  <div ng-show="lastResult">
           <ul>
               <li ng-repeat="percent in results">Quiz Topic Was: {{percent.quizTopic}} You Score : {{percent.userResult}} Date: {{percent.date}}</li>
           </ul>
          
           </div>
           
            <div ng-show="noResult">
               {{userResult}}
           </div>
           
</div>-->



<div layout='row' layout-align="center center">
    
    <h3> Iam Working on It Please Wait.... </h3>
</div>













